<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @profile.employee %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
