<div>
    <h3>Editing Department</h3>
    <%= render 'form', department: @department %>
    <%= link_to 'Show', @department, class:'btn btn-secondary' %> |
    <%= link_to 'Cancel', departments_path, class:'btn btn-secondary' %>
</div>